* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Netflix Sans';
}
html,body{
    width: 100%;
    height: 100%;
}
html {
    font-size: 6.25%;
}
body {
    background-color: black;
}
.main {
    background-image: url(bgimg.jpg);
    height: 95vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1900px, 120vw);
}
.box {
    background-color: rgb(0, 0, 0);
    height: 95vh;
    width: 100%;
    opacity: 0.75;
    position: absolute;
    top: 0;
}
.navbar {
    padding-top: 25px;
    color: white;
    height: 70rem;
    max-width: 74vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
span img {
    width: 148rem;
    height: 40rem;
    position: relative;
    z-index: 10;
}
.flex {
    position: relative;
    z-index: 10;
    display: flex;
    gap: 14rem;
}
#sign-in-btn {
    padding: 8rem 11rem;
    background-color: rgb(229, 9, 20, 1);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15rem;
}
.hero {
    height: calc(100% - 70rem);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 1rem;
}
.hero> :first-child {
    font-size: 48rem;
    font-weight: bolder;
    align-items: center;
    width: 80%;
}
#herospan {
    text-align: center;
}

.hero> :nth-child(2) {
    font-size: 24rem;
    font-weight: 400;
    margin-bottom: 18rem;
}

.hero :nth-child(3) {
    font-size: 20rem;
    font-weight: 200;
    margin-bottom: 22rem;
}
#btn {
    height: 8.3vh;
    width: 208rem;
    background-color: rgb(229, 9, 20, 1);
    color: white;
    border-radius: 5rem;
    font-size: 23rem;
    cursor: pointer;
    font-weight: 400;
}
.inputt {
    display: flex;
    gap: 8.8rem;
}
#email {
    height: 8vh;
    width: 378rem;
    font-size: 18rem;
    background-color: #0f0f0f65;
    border-radius: 5px;
    padding: 0 5rem;
    font-weight: 600;
    color: white;
    border: 1px solid #efe3e361;
}
#hero1stspan {
    text-align: center;
    display: block;
    margin-bottom: 22rem;
}
.line {
    background-color: rgba(128, 128, 128, 0.341);
    height: 8rem;
}
.first {
    display: flex;
    color: #fff;
    max-width: 70vw;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.secimg {
    z-index: -2;
    position: relative;
}
.im {
    width: 555px;
    position: relative;
    top: 0;
    z-index: 6;
}
.vd {
    position: absolute;
    top: 90rem;
    right: 0;
}
.content {
    display: flex;
    flex-direction: column;
}
.content :nth-child(1) {
    font-size: 48rem;
    margin-bottom: 20rem;
    line-height: 58rem;
}
.content :nth-child(2) {
    font-size: 24rem;
}
.sec {
    width: 520px;
}
.im2 {
    position: relative;
    z-index: 10;
}
.vd2 {
    position: absolute;
    top: 27rem;
    right: 0;
    width: 410rem;
    height: 270rem;
    overflow: hidden;
}
.faqbox {
    width: 100%;
    color: white;
    padding: 13rem 0;
}
.faqbox> :nth-child(1) {
    display: block;
    font-size: 48rem;
    text-align: center;
}
.allqstns {
    padding: 42rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.qstns {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    width: 78%;
    margin: 4rem auto;
    font-size: 24rem;
    padding: 30rem;
    background-color: #2D2D2D;
}
.qstns:hover {
    background-color: #414141;
}
.heroo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18rem;
    font-size: 20rem;
    font-weight: 300;
    margin: auto;
    width: 62%;
    padding-bottom: 62rem;
}
footer {
    display: grid;
    grid-template-columns: repeat(1fr, 1fr, 1fr, 1fr);
    color: white;
    width: 75vw;
    margin: auto;
    gap: 25rem;
    padding: 0 3rem;
    padding-top: 65rem;
}
footer a {
    text-decoration: underline;
    text-transform: capitalize;
    font-size: 14rem;
    font-weight: 100;
}
.row1 {
    grid-column-start: 1;
    grid-column-end: 5;
    font-size: 16rem;
}
.row1 a {
    color: white;
    list-style: none;
}
h5 {
    color: white;
    font-size: medium;
}
.last {
    width: 75vw;
    margin: 0 auto;
    padding-top: 15rem;
    padding-bottom: 54rem;
    display: flex;
    gap: 17rem;
    flex-direction: column;
}
#en-btn{
    width: 133rem;
    padding: 4rem 11rem;
    background-color: #0f0f0f65;
    color: white;
    border-radius: 3px;
    font-size: medium;
    border: 1px solid #efe3e361;
    cursor: pointer;
    padding: 2rem 5rem;
}
#en-btn div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}
.icon{
    font-size: 25rem;
}

@media(width <= 1000px){
    html{
        font-size: 4.25%;
    }
    .first{
        flex-direction: column;
    }
}